body{
    background-size: cover;
    background-image: url("https://th.bing.com/th/id/OIP.5H7rO0PxUW0QsKfvU5wVeAHaEo?w=277&h=180&c=7&r=0&o=5&pid=1.7");
}

.vbar1{
    background-color: black;
    width: 30px;
    height: 370px;
}
.vbar2{
    background-color: yellow;
    width: 30px;
    height: 270px;
}
.fa-list{
    color: white;
    position: relative;
    top: 30px;
    left: 5px;
}
.fa-magnifying-glass{
    color: white;
    position: relative;
    top: 70px;
   right: 15px;
}
.fa-facebook{
    color:black;
    position: relative;
    top: 410px;
   right: 35px;
}
.fa-instagram{
    color:black;
    position: relative;
    top: 440px;
   right: 53px;
}
.fa-twitter{
    color:black;
    position: relative;
    top: 470px;
   right: 71px;
}
.fa-snapchat{
    color:black;
    position: relative;
    top: 500px;
   right: 91px;
}
.hbar{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 630px;
    left: 70px;
}
.imive{
    color:white;
    font-size: 35px;
}
.imive1{
    font-size: 15px;
    color:rgb(214, 200, 200); 
    margin-top: 12px;
    margin-left: 55px;
}
.imive2{
    font-size: 15px;
    color:rgb(214, 200, 200);
    margin-top: 12px;
    margin-left: 55px;
}
.imive3{
    font-size: 15px;
    color: rgb(214, 200, 200);
    margin-top: 12px;
    margin-left: 55px;
}
.button1{
    width: 85px;
    height: 28px;
    background-color: yellow;
    margin-left:680px ;
    border: none;
}
.mat{
font-size: 70px;
    color:white;
    position: relative;
    left: 60px;
    bottom: 510px;
}
.span1{
     color: rgb(247, 247, 31);
}


